body {
  font-family: "Open Sans";
  padding: 10px;
}

table, th, td {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 5px;
}

td {
  vertical-align: top;
}

th {
  text-align: left;
}
