.ui.card {
  .cardActions {
    position: absolute;
    top: 0;
    right: 0;

    .ui.buttons .button {
      border-radius: 0;
      &:last-child {
        border-top-right-radius: .28571429rem;
      }
      &:first-child {
        border-bottom-left-radius: .28571429rem;
      }
    }
  }
}