body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  min-height: 100%;
  height: 100%;
}

#root {
  min-height: 100%;
  height: 100%;
}

table, th, td {
  //border: 1px solid #ccc;
  //border-collapse: collapse;
  //padding: 5px;
}

td {
  //vertical-align: top;
}

th {
  text-align: left;
}

.applicationArea {
  display: flex;
  min-height: 100%;

  .sidebar {
    width: 300px;
    min-height: 100%;
    background-color: #1b1c1d;
    color: #ffffff;
    box-sizing: border-box;
    .title {
      padding: 20px;
      margin-bottom: 40px;
      text-align: center;
    }

    .menu {
      border-top: 1px solid rgba(255, 255, 255, 0.3);

      .menuItem {
        font-size: 1.2em;
        padding: 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        cursor: pointer;
      }
      .menuItem.active {
        background-color: #414243;
      }
    }
  }
  .content {
    flex-grow: 1;
    padding: 20px;
    min-height: 100%;
  }
}

.datatypeTrace {
  display: flex;
}
.datatypeExpander {
  width: 50px;
}

.structureindent {
  //background-color: green;
  font-size: 26px;
  padding-right: 10px;
  text-align: right;
  font-weight: bold;
}

.eventstep {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  //border: 1px solid yellowgreen;
//
}

.buttonArea {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.runMode {
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;

  .icon {
    cursor: pointer;
  }
}