.queryArea {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  & > .queryField {
    margin-right: 20px;
    min-width: 250px;
  }
  .label {
    font-weight: bold;
    padding-bottom: 10px;
  }


  .DateInput {
    line-height: 13px;
    width: 109px;
  }

  .DateInput__display-text {
    color: #000000;
    text-shadow: none;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
  }

  .DateInput__display-text--focused {
    background-color: lighten(#d2007a, 50%);
  }

  .ui.button, .ui.buttons .button {
    background-color: #d2007a;
    color: #ffffff;
  }
}