body {
  padding: 10px;
}

body, h1, h2, h3, h4, h5 {
  font-family: Montserrat, sans-serif;
}

table, th, td {
  border: 0px;
  border-collapse: collapse;
  padding: 5px;
}

td {
  vertical-align: top;
}

th {
  text-align: left;
}

.centeredColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.DayPickerInput {
  width: 100%;
}